body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  margin: 30px;
}

ul {
  display: flex;
  flex-direction: column;
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
li {
  display: flex;
  padding: 5px;
  width: 80vw;
  justify-content: space-between;
}
